*
{
    font-family: "Gill Sans", sans-serif;
}
body
{
    margin: 30px;
}
header
{
   
    font-size: 17px;
    display: grid;
    grid-template-areas: "header_part1 header_part2";
}
#header_part1
{
    grid-area: header_part1;
}
#header_part2
{
    grid-area: header_part2;
    text-align: right;
    word-spacing: 30px;
    
}
li
{
    display: inline-block;
}
a
{
    color: black;
    text-decoration: none;
}
.li1
{
    border-right: solid black 1px;
    padding-right: 30px;
}
.active
{
    font-weight: bold;
    color: black;
    border-right: solid black 2px;
}
.active1
{
    font-weight: bold;
    color: black;
    
}

main
{
    margin: 70px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 1fr  2fr;
    grid-template-areas: "main11 main2";
}
#main
{
    margin: 70px;
    
}
#main1
{
    grid-area: main1;
    background-image: url("../images/profil.jpg");
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 500px;
   
}
#main2
{

    grid-area: main2;
    display: grid;
    grid-template-areas: "div1 div2"
                         "R1 R2"
                         "div3  div4"
                         "R3 R4"
                         "div5  div6";
    width: 500px;
}
#R1,#R2,#R3,#R4
{
    height: 20px;
}
button
{
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border-radius: 500px;
    background-color: #F4D03F;
    font-weight: bold;
}
input
{
    height: 35px;
    width: 200px;
}
#main2_part1
{
    grid-area: main2_part1;
}
#main2_part2
{
    grid-area: main2_part2;
    word-spacing: 17px;
    position: relative;
    left: -40px;
}
.orange
{
    background-color: #F5B041;
    padding: 30px;
    border-radius: 500px;
    border: solid 0.2px black;
   
    transition-property: padding;
    transition-duration: 1s;
}
.orange:hover
{
    padding: 35px;
}
.rouge
{
    background-color: #E74C3C;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 500px;
    border: solid 0.2px black;
 
    transition-property: padding;
    transition-duration: 1s;
}
.rouge:hover
{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 17px;
    padding-right: 17px;
   

}
.bleu
{
    background-color: #5DADE2;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 500px;
    border: solid 0.2px black;
    
    transition-property: padding;
    transition-duration: 1s;
}
.bleu:hover
{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 17px;
    padding-right: 17px;
   

}
footer
{
    display: grid;
    grid-template-areas: "footer_part1 footer_part2 footer_part3 footer_part4";
    margin-left: 100px;
    margin-right: 120px;
    border-top: solid 1px #AEB6BF;
    font-size: 15px;
}
#icon
{
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-template-areas: "icon1 icon2 icon3";
}
#icon1
{
    grid-area: icon1;
    background-image: url("../images/instagram.jpg");
    background-size: cover;
    width: 25px;
    height: 25px;
    
}
#icon2
{
    grid-area: icon2;
    background-image: url("../images/in.jpg");
    background-size: cover;
    width: 25px;
    height: 25px;
    
}
#icon3
{
    grid-area: icon3;
    background-image: url("../images/twiter.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    
}
span
{
    position: relative;
    top: -3px;
}
#cont_6
{
    margin: 100px;
    display: grid;
    grid-template-areas:"div1   div2"
                        "f1      f2"
                        "cont1 cont2"
                         "t1      t2"
                         "cont3 cont4"
                         "t3      t4"
                         "cont5 cont6";
}
#f1
{
    height: 40px;
}
#f2
{
    height: 40px;
}
#t1
{
    height: 70px;
}
#t2
{
    height: 70px;
}
#t3
{
    height: 70px;
}
#t4
{
    height: 70px;
}
#cont1,#cont3,#cont5
{
    padding-right: 150px;
}
#cont2
{
    grid-area: cont2;
    background-image: url("../images/deliberation.PNG");
    background-size: cover;
    width: 500px;
    height: 300px;
}
#cont4
{
    grid-area: cont4;
    background-image: url("../images/reservation.PNG");
    background-size: cover;
    border: solid #AEB6BF 1px;
    width: 500px;
    height: 300px;
}
#cont6
{
    grid-area: cont6;
    background-image: url("../images/achatvente.PNG");
    background-size: cover;
    border: solid #AEB6BF 1px;
    width: 500px;
    height: 300px;
}
@media (max-width:1200px) {
    main
    {
    margin: 70px;
    display: grid;
    grid-template-columns: 1fr 20px 2fr;
    grid-template-areas: "main1 . main2";
    }
    #main1
    {
    grid-area: main1;

    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 500px;
    box-shadow: 0px 0px 10px #34495E;
    border: solid 0.3px black;
    }
    #main2
    {
    grid-area: main2;
    display: grid;
    grid-template-areas: "main2_part1"
                         "main2_part2";
    width: 400px;
    }
    
}
@media (max-width:900px)
{
     footer
     {
        font-size: 12px;
     }
}
@media (max-width:850px)
{
     main
     {
        font-size: 14px;
     }
     #main2_part1
     {
        width: 200px;
     }
     #icon1
     {
    
        width: 20px;
        height: 20px;
    
    }
    #icon2
    {
 
        width: 20px;
        height: 20px;
    
    }
    #icon3
    {
   
    width: 20px;
    height: 20px;
    
    }
}
@media (max-width:750px)
{
     main
     {
        grid-template-columns: auto;
        grid-template-areas: "main1" 
                             "main2";
     }
     #main1
     {
       width: 500px;
       height: 500px;
     }
     #main2_part1,#main2_part2
     {
        text-align: center;
        width: 550px;
     }
     ul
     {
        text-align: center;
     }
     footer
     {
        text-align: center;
        margin: 0;
     }

     
}

@media (max-width:700px)
{
     main
     {
        grid-template-columns: auto;
        grid-template-areas: "main1" 
                             "main2";
     }
     #main1
     {
       width: 450px;
       height: 450px;
     }
     #main2_part1,#main2_part2
     {
        text-align: center;
        width: 500px;
     }
     ul
     {
        text-align: center;
     }
     footer
     {
        text-align: center;
        margin: 0;
     }

     
}
@media (max-width:650px)
{
     main
     {
        grid-template-columns: auto;
        grid-template-areas: "main1" 
                             "main2";
     }
     #main1
     {
       width: 400px;
       height: 400px;
     }
     #main2_part1,#main2_part2
     {
        text-align: center;
        width: 450px;
     }
     ul
     {
        text-align: center;
     }
     footer
     {
        text-align: center;
        margin: 0;
     }
     header
     {
   
    font-size: 17px;
    display: grid;
    grid-template-areas: "header_part2" 
                         "header_part1";
     }
     #header_part1
     {
        text-align: center;
     }
     
}

@media (max-width:600px)
{
     main
     {
        grid-template-columns: auto;
        grid-template-areas: "main1" 
                             "main2";
     }
     #main1
     {
       width: 350px;
       height: 350px;
     }
     #main2_part1,#main2_part2
     {
        text-align: center;
        width: 400px;
     }
     ul
     {
        text-align: center;
     }
     footer
     {
        text-align: center;
        margin: 0;
     }

     #header_part2
{
    grid-area: header_part2;
    text-align: right;
    word-spacing: 10px;
    
}
li
{
    display: inline-block;
}
a
{
    color: black;
    text-decoration: none;
}
.li1
{
    border-right: solid black 1px;
    padding-right: 30px;
}
footer
{
    display: grid;
    grid-template-areas: "footer_part1"
                         "footer_part2"
                         "footer_part3"
                         "footer_part4";
    margin-left: 100px;
    margin-right: 120px;
    border-top: solid 1px #AEB6BF;
    font-size: 15px;
}
#icon
{
    text-align: center;
}
     
}

@media (max-width:550px)
{
     main
     {
        grid-template-columns: auto;
        grid-template-areas: "main1" 
                             "main2";
     }
     #main1
     {
       width: 300px;
       height: 300px;
     }
     #main2_part1,#main2_part2
     {
        text-align: center;
        width: 350px;
     }
     ul
     {
        text-align: center;
     }
     footer
     {
        text-align: center;
        margin: 0;
     }
     

     
}
@media (max-width:500px)
{
     main
     {
        grid-template-columns: auto;
        grid-template-areas: "main1" 
                             "main2";
     }
     #main1
     {
       width: 250px;
       height: 250px;
     }
     #main2_part1,#main2_part2
     {
        text-align: center;
        width: 300px;
     }
     ul
     {
        text-align: center;
     }
     footer
     {
        text-align: center;
        margin: 0;
     }

     
}

@media (max-width:450px)
{
     main
     {
        grid-template-columns: auto;
        grid-template-areas: "main1" 
                             "main2";
     }
     #main1
     {
       width: 200px;
       height: 200px;
     }
     #main2_part1,#main2_part2
     {
        text-align: center;
        width: 250px;
     }
     ul
     {
        text-align: center;
     }
     footer
     {
        text-align: center;
        margin: 0;
     }
     #header_part2
{
    grid-area: header_part2;
    text-align: right;
    word-spacing: 10px;
    
}
li
{
    display: inline-block;
}
a
{
    color: black;
    text-decoration: none;
}
.li1
{
    border-right: solid black 1px;
    padding-right: 10px;
}

     
}
@media (max-width:400px)
{
    main
    {
        margin: 40px;
    }
    #header_part2
{
    grid-area: header_part2;
    text-align: center;
    word-spacing: 0px;
    width: 300px;
    
}
}

@media (max-width:350px)
{
    main
    {
        margin: 20px;
    }
    #header_part2
    {
        grid-area: header_part2;
        text-align: left;
        word-spacing: 0px;
        width: 200px;
        
    }
}

@media (max-width:325px)
{
    main
    {
        margin: 10px;
    }
}
@media (max-width:310px)
{
    main
    {
        margin: 0px;
    }
}